@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

.material-symbols-outlined {
  font-size: 48px;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

[hidden] {
  display: none !important;
}


.spieler {
  background-color: rgb(208 209 211 / 70%);
  padding: 16px;
  margin: 16px;
  border: 10px solid rgb(208 209 211);
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 2.5em 3.5em repeat(3, 100px);
  grid-auto-flow: column;
}


.spieler.active {
  border-color: rgb(237 27 36);
}

.spieler > input {
  font-size: 2em;
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 1;
}

.spieler > .punkte {
  font-size: 3em;
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 2;
  font-weight: bold;
}

.spieler > button {
  margin: 5%;
  font-size: 2em;
}


body {
  font-family: 'Orbitron', cursive;
}

main {
  background: no-repeat center/70% url("https://cdn.glitch.global/b9d17bfa-087e-4163-8c35-fcf119a91e9f/logo.jpg");
  display: flex;
  gap: 5vw;
  justify-content: space-between;
}


header {
  background-color: rgb(208 209 211 / 70%);
  text-align: center;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: 16px;
  border: 10px solid rgb(208 209 211);
  font-weight: bold;
  gap: 10px;
}

header #status {
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  gap: 1em;
}

